.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn {
  font-size: 24px;
  display: inline-block;
  background: #1968ad;
  color: #fff;
  padding: 40px 100px;
  text-decoration: none;
  border-radius: 10px;
}
