* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020A18;
}

.header {
    background-color: #0a121f;
}

.container {
    margin: 0 auto;
    /* width: 1146px; */
}

.nav {
    display: flex;
    justify-content: center;
}

.url_head {
    padding: 40px;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

.url_head:hover {
    background-color: rgb(32, 34, 108);
    border-radius: 20px;
}

.container_main {
    margin: 0 auto;
    width: 1146px;
}

.main {
    margin-top: 100px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.next {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #3A68B8;
}

.main-header {
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    width: 604px;
}

.main-dsc {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    width: 558px;
    margin-bottom: 50px;
}

.get {
    background: #3A68B8;
    border-radius: 5px;
    margin-right: 20px;
}

.watch {
    background: #3A68B8;
    border-radius: 5px;

}

.button-txt {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.watch-txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 10px;
}

.get:hover,
.watch:hover {
    outline: 3px solid #FFFFFF
}

.footer {
    margin-top: 20px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}