* {
  margin: 0;
  padding: 0;
}

@import "vars";

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}

.left-img {
  display: flex;
  align-items: center;
}

.logo-img {
  padding-left: 33px;
  padding-right: 33px;
}

.find-img {
  padding-right: 33px;
}

.right-img {
  display: flex;
  align-items: center;
}

.burger {
  padding-right: 33px;
}

.about {
  padding-right: 33px;
}

.price {
  padding-right: 33px;
}

.block {
  display: flex;
  height: 764px;
  background: #f1e4e6;
}

.main-img {
  display: flex;
}

.main-txt {
  display: flex;
  align-items: center;
}

.head-txt {
  @include txt-normal(700, 32px, 39px);
  color: #222222;
}

.big-txt {
  @include txt-normal(900, 48px, 58px);
}

.pink {
  color: #f16d7f;
}

.line {
  width: 12px;
  height: 92px;
  background: #f16d7f;
  margin-right: 16px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 65px;
  margin-bottom: 96px;
}

.nav-group {
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-img {
  background-image: url(../img/Group\ 36.jpg);
}
.second-img {
  background-image: url(../img/Group\ 37.jpg);
}

.third-img {
  background-image: url(../img/Group\ 38.jpg);
}

.nav-group-big {
  background-image: url(../img/Group\ 39.jpg);
  width: 1140px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-group-txt-1 {
  @include item-txt(400, 16px, 19.2px);
  color: #ffffff;
}

.nav-group-txt-2 {
  @include item-txt(700, 24px, 28.8px);
  color: #f16d7f;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-head {
  @include txt-normal(400, 30px, 36px);
  color: #222222;
  margin-bottom: 6px;
}

.main-head-dsc {
  @include txt-normal(400, 14px, 17px);
  color: #9f9f9f;
}

.item-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.item {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
}

.item-txt {
  margin-top: 25px;
  padding-left: 16px;
  padding-right: 28px;
}

.item-head {
  @include txt-normal(400, 13px, 16px);
  margin-bottom: 16px;
}

.item-dsc {
  @include txt-normal(300, 14px, 17px);
  color: #5d5d5d;
  margin-bottom: 16px;
}

.item-price {
  @include txt-normal(400, 16px, 19px);
  color: #f16d7f;
}
.footer {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include txt-normal(400, 16px, 19px);
  color: #f26376;
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  margin-bottom: 96px;
}

.down {
  height: 341px;
  background: #222224;
}
