* {
  margin: 0;
  padding: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block {
  width: 652px;
  display: flex;
  justify-content: center;
  box-shadow: 10px 20px 15px rgb(206, 206, 206);
  margin-bottom: 40px;
}

.image {
  width: 262px;
  height: 306px;
}

.item {
  width: 390px;
  padding-left: 31px;
  padding-top: 22px;
  padding-bottom: 62px;
}

.name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
}

.price {
  color: #575757;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 6px;
}

.input {
  width: 43px;
  height: 24px;
  text-align: center;
  border: 1px solid #eaeaea;
  margin-left: 20px;
}

.color {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.size {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px;
}

.price_color {
  color: #ef5b70;
}

.quantity {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
